@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-shadow{
    box-shadow:0 0px 10px white ;
}
.bg-shadow-Login{
    text-shadow: -2px 2px 1px rgb(142, 142, 142) ;
}
.text-shadow-Login{
    text-shadow: 2px 2px 2px #000000 ;
}



.banner {
    background-color: #000000;
    background-image:
        /* Top jagged */
        linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%),
        linear-gradient(-135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%),
        /* Bottom jagged */
        linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%),
        linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%),
        /* Top and bottom fade  */
        linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%),
        linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background-position:
        /* Top jagged */
        top center, top center,
        /* Bottom jagged */
        bottom center, bottom center,
        /* Top fade */
        top center,
        /* Bottom fade */
        bottom center;
    background-size:
        /* Top + bottom jagged */
        0.75rem 0.75rem, 0.75rem 0.75rem, 0.75rem 0.75rem, 0.75rem 0.75rem,
        /* Top + bottom fade */
        100% 1rem, 100% 1rem;
    background-repeat: repeat-x;
    /* letter-spacing: 1px; */
    /* margin: 0 -1rem 2rem; */
    font-size: "30px";
    padding: 3rem 0;
    position: relative;
    text-align: center;
    transition: all .25s ease-in-out;
  
  &.clear-side {
    background-color: #fff;
    background-image:
        /* Top jagged */
        linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%),
        linear-gradient(-135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%),
        /* Bottom jagged */
        linear-gradient(45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%),
        linear-gradient(-45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%),
        /* Top and bottom fade  */
        linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%),
        linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%),
        /* Sides */
        linear-gradient(90deg, rgba(200,200,200,1) 2%, rgba(200,200,200,0) 2%, rgba(200,200,200,0) 97%, rgba(200,200,200,1) 97%);
    background-position:
        /* Top jagged */
        top center, top center,
        /* Bottom jagged */
        bottom center, bottom center,
        /* Top fade */
        top center,
        /* Bottom fade */
        bottom center,
        /* Sides */
        center center;
    background-size:
        /* Top + bottom jagged */
        0.75rem 0.75rem, 0.75rem 0.75rem, 0.75rem 0.75rem, 0.75rem 0.75rem,
        /* Top + bottom fade */
        100% 1rem, 100% 1rem,
        /* Sides */
        100% 100%;
    background-repeat:
        /* All jagged and fade */
        repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x,
        /* Sides */
        repeat-y;    
  }}

  .vertical-line {
    border-left: 1px solid black; /* Đổi màu và định dạng của đường line tại đây */
    height: 100%; /* Đổi chiều cao của đường line tại đây */
  }

  .height-order {
    height: calc(100vh - 5rem);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.shadow{
    box-shadow: 1px 2px 8px black;
}

